<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd"
       default-autowire="byName">

    <context:annotation-config/>

    <context:component-scan base-package="ru.chatbot.warships"/>

    <bean id="warshipsBot" class="ru.chatbot.warships.bot.WarshipsBot" />

    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="classpath:schema.sql"/>
        <jdbc:script location="classpath:test_data.sql"/>
        <jdbc:script location="classpath:quartz.sql"/>
    </jdbc:embedded-database>

    <import resource="classpath:services.xml"/>
    <import resource="classpath:handlers.xml"/>
    <import resource="classpath:jobs.xml"/>
</beans>
